{% extends 'base.html' %}
{% block title %}タグ詳細ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">タグ詳細ページ</h1>
<div class="link-button">
    <a class="btn" href="{% url 'tagupdate' tag.name %}">編集へ</a>
    <a class="btn" href="{% url 'tagdelete' tag.name %}">削除</a>
    <a class="btn" href="{%url 'tag' %}">タグ一覧へ</a>
    <a class="btn" href="{%url 'top' %}">トップへ</a>
</div>
<div class="taglist">
    <div class="tag">
        <p class="title">{{tag.name}}</p>
        {% if tag.edited %}
        {% if tag.description %}
        <p>詳細: <br>{{tag.description}}</p>
        {% else %}
        <p>詳細: なし</p>
        {% endif %}
        {% if tag.descriptURL %}
        <p>url: <a href="{{tag.descriptURL}}" target="_blank">{{tag.descriptURL}}</a></p>
        {% else %}
        <p>url: なし</p>
        {% endif %}
        {% else %}
        <p>未編集</p>
        <p>詳細: なし</p>
        <p>url: なし</p>
        {% endif %}
    </div>
</div>
<h1 class="red-head card-header">タグ付けされた動画</h1>
<div class="taglist">
    {% if taged_video %}
    <p class="title">タグ付けされた動画の数：{{taged_number}}</p>
    {% for video in taged_video %}
    <div class="display">
        <p class="title">動画名:{{video.title}}</p>
        <p>URL : <a href="{{video.videoURL}}" target="_blank">{{video.videoURL}}</a></p>
    </div>
    {% endfor %}
    {% else %}
    <p class="title">タグ付けはありません</p>
    {% endif %}
</div>
{% endblock %}