{% extends 'base.html' %}
{% block title %}タグ一覧ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">未編集のタグ</h1>
<div class="taglist">
    {% if nonedited_tag_list %}
    {% for nonedited_tag in nonedited_tag_list %}
    <p class="tag"><a class="title" href="{% url 'tagdetail' nonedited_tag.name %}">{{nonedited_tag.name}}</a></p>
    {% endfor %}
    {% else %}
    <p>未編集タグはありません</p>
    {% endif %}
</div>
<h1 class="red-head card-header">タグの一覧</h1>
<div class="taglist">
    {% for tag in taglist %}
    <div class="tag">
        <p><a class="title" href="{% url 'tagdetail' tag.name %}">{{tag.name}}</a></p>
        {% if tag.edited == False %}
        <p>未編集</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
<div class="link-button">
    <a class="btn" href="{% url 'tag' %}?type=non_edited">未編集タグ一覧へ</a><br>
    <a class="btn" href="{% url 'top' %}">トップへ</a><br>
</div>
{% endblock %}