{% extends 'base.html' %}
{% block title %}未編集タグ一覧ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">未編集タグ一覧ページ</h1>
    <div class="taglist">
        {% for nonedited_tag in nonedited_tag_list %}
        <p class="tag"><a class="title" href="{% url 'tagdetail' nonedited_tag.name %}">{{nonedited_tag.name}}</a></p>
        {% endfor %}
    </div>
    <div class="link-button">
        <a class="btn" href="{% url 'tag' %}">タグ一覧へ</a><br>
        <a class="btn" href="{% url 'top' %}">トップへ</a>
    </div>
{% endblock %}