{% extends 'base.html' %}
{% block title %}タグ編集ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">タグ編集ページ</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="link-button">
            <a class="btn" href="{% url 'top' %}">サイトトップへ</a>
            <a class="btn" href="{% url 'tag' %}">タグ一覧へ</a>
            <a class="btn" href="{% url 'tagdetail' tag.name %}">タグ詳細へ</a>
            <button class="btn" type="submit">決定</button>
        </div>
        <p>現在の編集状況：{{tag.edited}}</p>
        <p>タグ名</p>
        <input type="text" name="name" value="{{tag.name}}">
        <p>説明</p>
        <textarea name="description" placeholder="詳細説明を記入" cols="60" rows="7">{{tag.description}}</textarea>
        {% if tag.description %}
        <p>コピー用</p>
        <textarea disabled cols="60" rows="7">{{tag.description}}</textarea>
        {% endif %}
        <p>参考URL</p>
        <input type="text" name="descriptURL" value="{{tag.descriptURL}}">
        <br>
    </form>
{% endblock %}