{% extends 'base.html' %}
{% load static %}
{% block title %}動画詳細ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">動画詳細ページ</h1>
<div class="link-button">
    <a class="btn" href="{% url 'videoupdate' video.id %}">動画情報の編集</a>
    <a class="btn" href="{% url 'videocopy' video.id %}">動画のコピーを<br>作成、編集</a>
    {% if video.trash %}
    <a class="btn" href="{% url 'videodelete' video.id %}">動画の削除</a>
    {% else %}
    <a class="btn" href="{% url 'videoaddtrash' video.id %}">動画の削除</a>
    {% endif %}
    <a class="btn" href="{% url 'video' %}">動画一覧ページへ</a>
    <a class="btn" href="{% url 'top' %}">トップへ</a>
</div>
<div class="display video-detail-table">
    <table>
        <tr>
            <td>タイトル</td>
            <td>{{video.title}}</td>
        </tr>
        <tr>
            <td>登録日時</td>
            <td>{{video.date |date:"Y/n/j"}}</td>
        </tr>
        {% if video.description %}
        <tr>
            <td>詳細</td>
            <td>{{video.description}}</td>
        </tr>
        {% endif %}
        <tr>
            <td>投稿者</td>
            <td>{{video.contributor}}</td>
        </tr>
        <tr>
            <td>カテゴリー</td>
            <td>{{video.category.name}}</td>
        </tr>
        <tr>
        {% if tag_list %}
            <td>関連タグ一覧</td>
            <td>
                {% for tag in tag_list %}
                <a href="{% url 'tagdetail' tag %}">{{tag}}</a>,<br>
                {% endfor %}
            </td>
        {% else %}
            <td>タグ登録なし</td>    
        {% endif %}
        </tr>
        <tr>
            <td>曲のURL</td>
            {% if video.videoURL %}
            <td><a href="{{video.videoURL}}">{{video.videoURL}}</a></td>
            {% if video.originalVideoURL %}
            </tr>
            <tr>
            <td>原曲URL </td>
            <td><a href="{{video.originalVideoURL}}" target="_blank">{{video.originalVideoURL}}</a></td>
            {% endif %}
            {% else %}
            <td>紐づけられたURLはありません</td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}