{% extends 'base.html' %}
{% load static %}
{% load register_extras %}
{% block css %}
{% endblock %}
{% block title %}
動画一覧ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">動画一覧ページ</h1>
<div class="link-button">
    <a class="btn" href="{% url 'videoregister' %}">動画の登録</a><br>
    <!--<a href="">動画のタグ付け(複数選択可)</a><br>-->
    <a class="btn" href="{% url 'top' %}">サイトトップへ</a><br>
    <a class="btn" href="{% url 'videotrash' %}">ごみ箱へ</a><br>
    <a class="btn" href="">ページトップへ</a>
</div>
<div class="sort">
    <h5>
        並び替え：
        {% if sort %}
        {% if order == "down" %}
        {% if sort == "date" %}
        <a href="?sort=date&order=up">日付順</a> |
        <a href="?sort=title&order=down">タイトル順</a>
        {% elif sort == "title" %}
        <a href="?sort=date&order=down">日付順</a> |
        <a href="?sort=title&order=up">タイトル順</a>
        {% endif %}
        {% elif order == "up" %}
        <a href="?sort=date&order=down">日付順</a> |
        <a href="?sort=title&order=down">タイトル順</a>
        {% endif %}
        {% else %}
        <a href="?sort=date&order=up">日付順</a> |
        <a href="?sort=title&order=down">タイトル順</a>
        {% endif %}
    </h5>
    <h5>
        リンクのない動画の表示：
        <a href="{% url 'videonolink' %}">リンク無しを表示</a> |
        <a href="{% url 'video' %}">リンクありのみ表示</a>
    </h5>
</div>
{% include 'pager.html' %}
    {% for video in videolist %}
<div class="display">
    <p><a class="title" href="{% url 'videodetail' video.id %}">{{video.title}}</a></p>
    <p>{{video.contributor}}</p>
    <p>{{video.category.name}}</p>
    {% if video.videoURL %}
    <p><a href="{{video.videoURL}}" target="_blank">{{video.videoURL}}</a></p>
    {% endif %}
</div>
{% endfor %}
{% include 'pager.html' %}
{% endblock %}