{% extends 'base.html' %}
{% load static %}
{% block title %}動画登録ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">登録ページ</h1>
<form method="POST" action="{% url 'videoregister' %}">
    {% csrf_token %}
    <div class="link-button">
        <a class="btn" href="{% url 'video' %}">動画一覧ページへ</a><br>
        <a class="btn" href="{% url 'top' %}">トップへ</a><br>
        <a class="btn" href="{% url 'categorycreate' %}">カテゴリー作成へ</a><br>
        <button class="btn" type="submit">登録</button>
    </div>
    <p>動画タイトル</p>
    <input type="text" placeholder="動画タイトル" name="title">
    <br>
    <p>動画詳細</p>
    <textarea placeholder="動画説明文を記入" name="description" cols="70" rows="6"></textarea>
    <p>登録日時</p>
    <input type="date" name="date">
    <p>動画投稿主</p>
    <input type="text" name="contributor" placeholder="関連深い人を記入(例：歌手、ボカロＰ、歌い手、奏者など)">
    <p>カテゴリー</p><p class="hosoku">(該当するものがない場合は右下ボタンより作成へ)</p>
    <select name="category">
        {% for category in category_list %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
        <option value="">カテゴリーなし</option>
    </select>
    <p>タグ ※複数入力するときは , で区切る</p>
    <input type="text" name="tag" placeholder="タグを入力" autocomplete="off">
    <p>動画URL</p>
    <input type="text" name="videoURL" placeholder="動画のURLを入力" autocomplete="off">
    <p>原曲URL</p>
    <input type="text" name="originalvideoURL" placeholder="空白でも可" autocomplete="off">
</form>
{% endblock %}