{% extends 'base.html' %}
{% block title %}
動画一覧ページ{% endblock %}
{% block body %}
    <h1 id="pagetop">動画一覧ページ</h1>
    <a href="{% url 'video' %}">動画一覧へ</a>
    <a href="{% url 'top' %}">トップへ</a>
    <form method="POST" action="{% url 'videoaddtag' %}">
    {% csrf_token %}
    {% for video in videolist %}
    <div class="jumbotron">
        <input type="checkbox" value="{{video.id}}" name="video">
        <p><a href="{% url 'videodetail' video.id %}">{{video.title}}</a></p>
        <p>{{video.contributor}}</p>
        <p>{{video.category.name}}</p>
        {% for tag in tag_list %}
        <p>{{tag}}</p>
        {% endfor %}
        <p><a href="{{video.videoURL}}" target="_blank">{{video.videoURL}}</a></p>
    </div>
    {% endfor %}
    <input type="submit" value="決定">
    </form>
    <br>
    <a href="#pagetop">ページトップへ</a>
{% endblock %}