{% extends 'base.html' %}
{% block title %}
ごみ箱ページ
{% endblock %}
{% block body %}
    <h1 class="red-head card-header">動画ごみ箱ページ</h1>
    <div class="link-button">
        <a class="btn" href="{% url 'top' %}">トップへ</a>
        <a class="btn" href="{% url 'video' %}">動画一覧へ</a>
    </div>
    {% for video in videolist %}
    <div class="display">
        <p><a href="{% url 'videodetail' video.id %}">{{video.title}}</a></p>
        <p>{{video.contributor}}</p>
        <p>{{video.category.name}}</p>
        <p><a href="{{video.videoURL}}" target="_blank">{{video.videoURL}}</a></p>
    </div>
    {% endfor %}
{% endblock %}