{% extends 'base.html' %}
{% block title %}
{% if "copy" in request.get_full_path_info %}
動画コピーページ
{% else %}
動画更新ページ
{% endif %}
{% endblock %}
{% block body %}
{% if "copy" in request.get_full_path_info %}
<h1 class="red-head card-header">コピー作成ページ</h1>
{% else %}
<h1 class="red-head card-header">更新ページ</h1>
{% endif %}
<form method="POST">
    {% csrf_token %}
    <div class="link-button">
        <a class="btn" href="{% url 'top' %}">トップへ</a>
        <a class="btn" href="{% url 'categorycreate' %}">カテゴリー作成へ</a>
        {% if "copy" in request.get_full_path_info %}
        <button class="btn" type="submit">コピーを作成</button>
        {% else %}
        <button class="btn" type="submit">更新を確定</button>
        {% endif %}
    </div>
    <p>動画タイトル</p>
    <input type="text" placeholder="動画タイトル" name="title" value="{{video.title}}">
    <br>
    <p>動画詳細</p>
    <textarea placeholder="動画説明文を記入" name="description" cols="70" rows="6">{{video.description}}</textarea>
    <p>登録日時</p>
    {% if not "copy" in request.get_full_path_info %}
    <p> 編集前：{{video.date|date:"Y/n/j"}}</p>
    {% endif %}
    <input type="date" name="date">
    <p>動画投稿主</p>
    <input type="text" name="contributor" placeholder="関連深い人を記入(例：歌手、ボカロＰ、歌い手、奏者など)" value="{{video.contributor}}">
    <p>カテゴリー</p>
    <select name="category">
        {% for category in category_list %}
        {% if category.id == video.category.id %}
        <option value="{{category.id}}" selected>{{category.name}}</option>
        {% else %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>タグ</p>
    <input type="text" name="tag" placeholder="タグを入力" value="{{tag}}" autocomplete="off">
    <p>動画URL</p>
    <input type="text" name="videoURL" placeholder="動画のURLを入力" value="{{video.videoURL}}" autocomplete="off">
    <p>原曲URL</p>
    <input type="text" name="originalvideoURL" placeholder="空白でも可" value="{{video.originalVideoURL}}" autocomplete="off">

</form>
{% endblock %}