{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/all.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/form.css' %}">
<!-- 試し用CSS -->
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="header">
        <a href="{% url 'top' %}" id="to-top">
            <img class="header-icon" src="{% static 'images/MusicRegister_header.png' %}">
        </a>
    </div>
    <div class="content">
    {% block body %}
    {% endblock %}
    </div>
</body>
</html>