{% load register_extras %}
<ul class="pagination pagelinks">
    <!-- 前へ の部分 -->
    {% if page > 1 %}
    <li class="page-item">
        {% if sort %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}&page={{ page | add:'-1' }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% else %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}?page={{ page | add:'-1' }}">
            <span aria-hidden="true">&laquo;</span>
        </a>
        {% endif %}
    </li>
    {% endif %}
    
    <!-- 数字の部分 -->
    {% for num in page_nums %}
    {% if page == num %}
    <li class="page-item active">
        <a class="page-link" href="">{{ num }}</a>
    </li>
    {% else %}
    <li class="page-item">
        {% if sort %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}&page={{ num }}">{{ num }}</a>
        {% else %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}?page={{ num }}">{{ num }}</a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
    
    <!-- 次へ の部分 -->
    {% if page < max_page %}
    <li class="page-item">
        {% if sort %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}&page={{ page | add:'1' }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% else %}
        <a class="page-link" href="{{ request.get_full_path_info | for_update_page }}?page={{ page | add:'1' }}">
            <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
    </li>
    {% endif %}
</ul>