{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base/top.css' %}">
{% endblock %}
{% block title %}
TOPページ
{% endblock %}
{% block body %}
<div class="row">
    <img class="col-7" id="siteicon" src="{% static 'images/MusicRegister_icon.png' %}">
    <div class="row col-5 offset-7 link-column">
        <a class=" link" href="{% url 'video' %}">動画ページへ</a>
        <a class=" link" href="{% url 'tag' %}">タグページへ</a>
        <a class=" link" href="{% url 'category' %}">カテゴリーページへ</a>
    </div>
</div>
{% endblock %}