.row{
    max-width: 100%;
}

body{
    background-color: #f4f4f4;
}

.content{
    margin: 90px 10px 30px;
    padding-top: 1px;
    height: 100%;
}

.header{
    top: 0;
    margin-top: 0px;
    z-index: 100;
    height: 90px;
    width: 100%;
    position: fixed;
    background-color: #41414d;
    /*border-left: solid 10px #2d2dc2;*/
}

#to-top{
    display: block;
    height: 90px;
    width: 305px;
    margin: 0 auto 0 25px;
}

.header-icon{
    display: block;
    height: 90px;
    width: auto;
    pointer-events: none;
}

.red-head{
    background-color: #cc6677;
    border-left: solid 10px #d43751;
    color: white;
}

.link-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.link-button > *{
    margin: 4px;
    padding: 15px;
    width: 180px;
    display: block;
    border: solid;
}

.link-button > *:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    font-size: 1rem;
}
