p{
    padding: 2px;
    font-size: 15px;
    margin: 5px;
    margin-left: 0px;
}

input, select,textarea{
    padding-left: 5px;
    margin: 5px;
    height: 40px;
    border-radius: 5px;
    border-width: 0.5px ;
}

input,textarea:focus{
    border:none;
}


input[type="text"]{
    width: 50%;
    min-width: 300px;
}

textarea{
    height: 150px;
    width: calc(50% + 150px);
    min-width: 450px;
}

form{
    padding-left: 20px;
    padding-bottom: 45px;
}

.hosoku{
    font-size: 15px;
    margin: 0;
    padding: 0;
}