h1{
    margin: 10px auto;
    color: white;
}

.display{
    margin: 10px 0;
    padding: 8px 16px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

.title{
    font-size: 20px;
}

.taglist{
    margin: 15px;
}

.tag{
    margin: 15px;
    margin-left: 0;
}

.tag > p{
    margin: 3px auto 3px 0px;
}

.sort{
    margin-left: 10px;
    margin-bottom: 1rem;
}

.pagelinks{
    margin-bottom: 0;
    margin-left: 40px;
}

table{
    width: 100%;
}

td{
    padding: 8px;
}

td > a{
    padding-top: 5px;
}

tr:nth-child(even) {
    background-color:  white;    /* 背景色指定 */
}