body{
    background-color: #f4f4f4;
}

#siteicon{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 30px;
    border-radius: 18px;
    pointer-events: none;
    position: fixed;
}

.link-column{
}

.link{
    box-shadow: rgb(90, 90, 90) 3px 2px 3px;
    overflow-wrap : break-word;
    padding-left: 10px;
    width: 100%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    font-size: 30px;
    color: white;
    background-color: #cf7e8c;
    border-left: solid 10px #db566c;
}

.link:hover{
    color: white;
    background-color: #cc6677;
    border-left: solid 10px #d43751;
}

/*
#video{
    background-color: #cc6677;
    border-left: solid 10px #d43751;
}

#tag{
    background-color: #cccc66;
    border-left: solid 10px #afaf00;
}

#category{
    background-color: #66cdaa;
    border-left: solid 10px #1cac7c;
}

#site{
    background-color: #6666cc;
    border-left: solid 10px #2d2dc2;
}
*/