{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base/form.css' %}">
{% endblock %}
{% block title %}カテゴリー作成ページ{% endblock %}
{% block body %}
<h1 class="red-head card-header">カテゴリー作成ページ</h1>
<form method="POST" action="{% url 'categorycreate' %}">
    {% csrf_token %}
    <p>カテゴリ名</p>
    <input type="text" name="name"><br>
    <div class="link-button">
        <a class="btn" href="{% url 'top' %}">トップページへ</a>
        <a class="btn" href="{% url 'category' %}">カテゴリー一覧へ</a>
        <button class="btn" type="submit">登録</button>
    </div>
</form>

{% endblock %}