{% extends 'base.html' %}
{% block title %}カテゴリー一覧ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">カテゴリー一覧</h1>
    <div class="link-button">
        <a class="btn" href="{% url 'categorycreate' %}">カテゴリー新規作成</a>
        <a class="btn" href="{% url 'top' %}">トップページへ</a>
    </div>
    <div class="taglist">
        {% for category in category_list %}
        <p class="title">{{category.name}}</p>
        <p>{{category.videonum}}件の登録</p>
        <p><a href="{% url 'categoryupdate' category.id %}" class="btn btn-warning">編集</a>   <a href="{% url 'categorydelete' category.id %}" class="btn btn-danger">削除</a></p>
        {% endfor %}
    </div>
{% endblock %}