{% extends 'base.html' %}
{% block title %}カテゴリー作成ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">カテゴリー編集ページ</h1>
    <form method="POST" action="{% url 'categoryupdate' editcategory.id %}">
        {% csrf_token %}
        <input type="text" name="name" value="{{editcategory.name}}"><br>
        <button type="submit">登録</button>
    </form>
    <a href="{% url 'category' %}">カテゴリー一覧へ</a><br>
    <a href="{% url 'top' %}">トップページへ</a>
{% endblock %}