{% extends 'base.html' %}
{% block title %}サイト一覧ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">サイト一覧</h1>
    <div class="link-button">
        <a class="btn" href="{% url 'sitecreate' %}">サイト登録</a>
        <a class="btn" href="{% url 'top' %}">トップへ</a>
    </div>
    <div class="taglist">
        {% for site in site_list %}
        <div class="display">
            <p class="title">{{site.name}} <a href="{% url 'siteupdate' site.id %}">編集</a></p>
            <p>URL:<a href="{{ site.baseURL }}">{{site.baseURL}}</a></p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
