{% extends 'base.html' %}
{% block title %}サイト編集ページ{% endblock %}
{% block body %}
    <h1 class="red-head card-header">サイト登録</h1>
    <form action="{% url 'siteupdate' editsite.id %}" method="POST">
        {% csrf_token %}
        <div class="link-button">
            <a class="btn" href="{% url 'site' %}">サイト一覧へ</a>
            <button class="btn" type="submit">登録</button>
        </div>
        <p>サイト名</p>
        <input type="text" name="name" placeholder="サイト名を入力" value="{{editsite.name}}">
        <p>サイトURL</p>
        <input type="text" name="baseURL" placeholder="サイトのURLを入力" value="{{editsite.baseURL}}">
        <br>
    </form>
{% endblock %}